<app-header></app-header>
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Cargando... </p></ngx-spinner>
<section class="sign-in" id="cambioPass">
    <div class="container">
        <div class="signin-content">
            <div class="signin-image" data-aos="fade-right">
                <figure><img src="assets/login_registro/images/signin-image.jpg" alt="sing up image" ></figure>
            </div>

            <div class="signin-form" data-aos="fade-left">
                <h2 class="form-title">Cambio de Contraseña </h2>
                <form autocomplete="off" [formGroup]="forma" (ngSubmit)="cambioPass()">               
                    <div class="form-group">
                        <label for="contrasenia"><i class="zmdi zmdi-lock"></i></label>
                        <input class="form-control"
                        [type]="type"
                        placeholder="Nueva contraseña"
                        formControlName="contraNueva"
                        [class.is-invalid]="contraNuevaNoValido">
                        <i class="fa fa-fw fa-eye password-icon show-password" (click)='mostrarContra()'></i>
                        <small *ngIf="contraNuevaNoValido" class="text-danger">
                        La contraseña debe tener de 6 a 12 caracteres y contener una combinación de caracteres y números
                        </small>
                    </div>   
                    <div class="form-group">
                        <label for="contrasenia"><i class="zmdi zmdi-lock"></i></label>
                        <input class="form-control"
                        [type]="typeRep"
                        placeholder="Vuelve a escribir la contraseña"
                        formControlName="contraRep"
                        [class.is-invalid]="contraRepNoValido">
                        <i class="fa fa-fw fa-eye password-icon show-password" (click)='mostrarContraRep()'></i>
                        <small *ngIf="contraRepNoValido" class="text-danger">
                           Debe ingresar una contraseña
                        </small>
                        <small *ngIf="!contraCoinciden" class="text-danger">
                            Las contraseñas no coinciden
                         </small>
                    </div>                        
                    <div class="form-group form-button">
                        <input type="submit" name="signin" id="signin" class="form-submit" value="Aceptar"/>
                    </div>                              
                </form>
                <!--<div class="social-login">
                    <span class="social-label">O ingresar con</span>
                    <ul class="socials">
                        <li><a href="#"><i class="display-flex-center zmdi zmdi-facebook"></i></a></li>
                        <li><a href="#"><i class="display-flex-center zmdi zmdi-twitter"></i></a></li>
                        <li><a href="#"><i class="display-flex-center zmdi zmdi-google"></i></a></li>
                    </ul>
                </div>-->
            </div>
        </div>
    </div>
</section>


