<app-menu-admin></app-menu-admin>
<br>
<br>
<br>

<div class="no-skin">
    
    <div class="main-container ace-save-state" id="main-container">
      

        <app-menu-lateral>

        </app-menu-lateral>
     
          <div class="main-content" >
     
            <div class="row">
                <div class="col-xs-12">
                    <div class="page-header">
                        <h1>
                            Configuraciones
                            <small>
                                <i class="ace-icon fa fa-angle-double-right"></i>
                                Permite configurar parametros
                            </small>
                        </h1>
                    </div><!-- /.page-header -->
                    <!-- PAGE CONTENT BEGINS -->                  
                  





            </div><!-- /.row -->
        </div><!-- /.page-content -->
            
            

        </div>      
    </div>
</div>

