<app-header-proveedor></app-header-proveedor>

<br>
<br>
<br>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="true">
  <p style="color: white"> Cargando... </p>
</ngx-spinner>
<div class="main-container ace-save-state" id="dashboard">
  <div class="main-content">
    <div class="main-content-inner">
      <div class="page-content">
        <div class="page-header">
          <h1>
            Pantalla Principal
            <small>
              <i class="ace-icon fa fa-angle-double-right"></i>
              Funcionalidades asociadas al proveedor
            </small>
          </h1>
        </div><!-- /.page-header -->
        <div class="row">
          <div class="col-md-12">
            <!-- PAGE CONTENT BEGINS -->
            <div class="row">
              <div class="col-md-3">
                <div class="widget-box">
                  <div class="widget-header">
                    <h4 class="smaller">Bandeja entrada</h4>
                  </div>
                  <div class="row filtro">

                    <div class="col-md-6 ng-select-container">
                      <label for="form-field-select-3">Tipo de auto</label>
                      <div class="">
                      <ng-select bindLabel="DESCRIPCION" placeholder="Selecciona" searchable="true" clearable="false"
                        [(ngModel)]="selectedTipoV"
                        (change)="Cargar_Pedidos_Nuevos_Por_TipoV(selectedTipoV.DESCRIPCION)" class="custom">
                        <ng-option [value]="item" *ngFor="let item of Tipo_vehiculos">
                          <span style="font-size:x-small;">{{item.DESCRIPCION}}</span>
                        </ng-option>
                      </ng-select>
                    </div>
                    </div>
                    <div class="col-md-6">
                      <label for="form-field-select-3">Marca</label>
                      <ng-select bindLabel="MARCA" placeholder="Selecciona" searchable="true" clearable="false"
                        [(ngModel)]="selectedMarca" (change)="Cargar_Pedidos_Nuevos_Por_MARCA(selectedMarca.MARCA)">
                        <ng-option [value]="item" *ngFor="let item of marcasPorTipoV">
                          <span style="font-size:x-small;">{{item.MARCA}}</span>
                        </ng-option>
                      </ng-select>
                    </div>
                  </div>
                  <br>
                  <div class="row" style="padding-left: 10px; padding-right: 10px;">
                   
                    <div class="col-md-12">
                      <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Buscar termino"
                          aria-label="Recipient's username" aria-describedby="button-addon2" [(ngModel)]="termino">
                        <button class="btnace btn-outline-secondary" type="button" id="button-addon2"
                          (click)="buscarTermino()">Buscar</button>
                          <div style="text-align: center; padding-left: 10px;">
                            <button class="btn btn-warning" (click)="verTodosNuevos()">Todos </button>
                          </div>
                      </div>
                    </div>

                  </div><!-- ./row -->
                 <!-- <div style="text-align: center;">
                    <button class="btn btn-warning" (click)="verTodosNuevos()">Todos </button>
                  </div>-->
                  <hr style="margin: 0px;">
                  <div>
                    <div class="widget-main padding-8 scrollbarEntrada" id="style-1">
                      <div id="profile-feed-1" class="profile-feed" class="widget-body"
                        *ngFor="let item of pedidos_nuevos">
                        <div class="profile-activity clearfix" *ngFor="let pedido of item.pedidos">
                            <div (click)="verPedidoEntrada(item)">
                              <h5>{{pedido.FECHA_INI}}</h5>
                              <div>
                                <h6 style="line-height: 30%;"><small><b>Ubicacion:</b> {{pedido.NOMBRE_PROVINCIA}},
                                    {{pedido.NOMBRE_CIUDAD}}</small></h6>
                                <h6 style="line-height: 30%;"><small><b>Vehiculo:</b> {{pedido.MARCA}}, {{pedido.MODELO}},
                                    {{pedido.ANIO}}</small></h6>
                                <h6 style="line-height: 30%;"><small><b>Respuesto:</b> {{pedido.DESCRIPCION}}</small></h6>
                                <h6 style="line-height: 30%;"><small><b>Extras:</b> {{pedido.ORIGINAL}},
                                    {{pedido.GENERICO}}, {{pedido.FACTURA}}, {{pedido.SERVICIO_ENV}}</small></h6>
                              </div>
                            </div>
                          <div class="tools action-buttons">
                            <a href="#" class="grey">
                              <i class="ace-icon fa fa-trash bigger-130"></i>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="card scrollbarEntrada">
                  <h5 class="card-header">Detalles del pedido solicitado</h5>
                  <div class="card-body">
                    <div class="widget-body">
                      <div *ngFor="let item of pedidoSeleccionado">
                        <div class="row">

                          <div class="col-xs-12 col-sm-12 col-md-12">
                            <!--Mostrar Entrada-->
                            <div class="widget-box" *ngIf="mostrarEntrada">
                              <div class="widget-header">
                                <h4 class="widget-title">Item 1</h4>

                                <div class="widget-toolbar">
                                  <a href="#" data-action="collapse">
                                    <i class="ace-icon fa fa-chevron-up"></i>
                                  </a>
                                </div>
                              </div>
                              <div class="widget-body">
                                <form action="" [formGroup]="forma" (ngSubmit)="cotizar()">
                                  <div class="widget-main">
                                    <div class="row">
                                      <div class="col-md-6">
                                        <label for="form-field-8">Ubicacion</label>
                                        <textarea class="form-control" id="form-field-8" placeholder="Default Text"
                                          disabled>{{item.NOMBRE_CIUDAD}} - {{item.NOMBRE_PROVINCIA}}</textarea>
                                      </div>
                                      <div class="col-md-6">
                                        <label for="form-field-8">Vehiculo</label>
                                        <textarea class="form-control" id="form-field-8" placeholder="Default Text"
                                          disabled>{{item.MARCA}} {{item.MODELO}} del año {{item.ANIO}}</textarea>
                                      </div>
                                    </div>
                                    <div>
                                      <label for="form-field-9">Repuesto</label>

                                      <textarea class="form-control limited" id="form-field-9" maxlength="50"
                                        disabled>{{item.DESCRIPCION}}</textarea>
                                    </div>
                                    <hr>
                                    <div>
                                      <label for="form-field-11">Fotos</label>
                                      <div class="row">
                                        <div class="col-md-2"></div>
                                        <div class="col-md-10">
                                          <ul class="ace-thumbnails clearfix">

                                            <li *ngFor="let item of fotos; let i = index">

                                              <img width="130" height="130" alt="130x130" src="{{item.IMAGEN}}"
                                                (click)="showGallery(i)" />

                                            </li>
                                          </ul>
                                        </div>
                                      </div>
                                    </div>
                                    <hr>
                                    <div class="well">
                                      <div class="row">
                                        <table class="table table-hover" style="text-align: center;">
                                          <thead>
                                            <tr>
                                              <th scope="col"></th>
                                              <th style="width: 150px;">Precio</th>
                                              <th>Precio + Comision</th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                            <tr *ngIf="item.ORIGINAL">
                                              <th>Original</th>
                                              <td>
                                                <div class="input-group mb-3">
                                                  <input type="number" class="form-control" placeholder="Precio"
                                                    aria-label="original" aria-describedby="original"
                                                    (ngModelChange)="calcularOriginal()" formControlName="pre_original"
                                                    [class.is-invalid]="p_originalNoValido">
                                                  <span class="input-group-text">$</span>
                                                  <small *ngIf="p_originalNoValido" class="text-dangerProveedor">
                                                    Ingresar un valor mayor a 0
                                                  </small>
                                                </div>
                                              </td>
                                              <td>{{p_original_Coti | currency}}</td>
                                            </tr>
                                            <tr *ngIf="item.GENERICO">
                                              <th>Generico</th>
                                              <td>
                                                <div class="input-group mb-3">
                                                  <input type="number" class="form-control" placeholder="Precio"
                                                    aria-label="Username" aria-describedby="generico"
                                                    (ngModelChange)="calcularGenerico()" formControlName="pre_generico"
                                                    [class.is-invalid]="p_genericoNoValido">
                                                  <span class="input-group-text">$</span>
                                                  <small *ngIf="p_genericoNoValido" class="text-dangerProveedor">
                                                    Ingresar un valor mayor a 0
                                                  </small>
                                                </div>
                                              </td>
                                              <td>{{p_generico_Coti | currency}}</td>
                                            </tr>
                                            <tr *ngIf="activar_preenvio">
                                              <th>Envio</th>
                                              <td>
                                                <div class="input-group mb-3">
                                                  <input type="number" class="form-control" placeholder="Precio"
                                                    aria-label="Username" aria-describedby="envio"
                                                    formControlName="pre_envio" [class.is-invalid]="p_envioNoValido">
                                                  <span class="input-group-text">$</span>
                                                  <small *ngIf="p_envioNoValido" class="text-dangerProveedor">
                                                    Ingrese un valor mayor a 0
                                                  </small>
                                                </div>
                                              </td>
                                              <td></td>
                                            </tr>
                                            <tr>
                                              <th>Adicionales</th>
                                              <td>
                                                <label style="vertical-align:top;">Factura</label>
                                                <input name="switch-field-1" class="ace ace-switch" type="checkbox"
                                                  formControlName="checkFactura" />
                                                <span class="lbl"></span>

                                              </td>
                                              <td>
                                                <label style="vertical-align:top;">Envio </label>
                                                <input name="switch-field-1" class="ace ace-switch" type="checkbox"
                                                  formControlName="checkEnvio" (change)="clickCheckEnvio()" />
                                                <span class="lbl"></span>
                                              </td>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </div>

                                    </div>
                                    <div class="widget-main" *ngIf="actionCotizar">
                                      <p style="text-align: center;">
                                        <button id="loading-btn" type="submit" class="btn btn-success"
                                          data-loading-text="Loading...">Cotizar</button>
                                      </p>
                                    </div>
                                    <div class="widget-main" *ngIf="actionEditar">
                                      <p style="text-align: center;">
                                        <button id="loading-btn" type="submit" class="btn btn-warning"
                                          data-loading-text="Loading...">Recotizar</button>
                                      </p>
                                    </div>
                                  </div>
                                </form>
                              </div>
                            </div>
                            <!--Fin Mostrar Entrada-->                    
                          </div><!-- /.span -->
                        </div>
                        <br>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="row">
                  <div class="widget-boxMedium">
                    <div class="widget-header">
                      <h4 class="smaller">Cotizaciones Aceptadas</h4>
                    </div>
                    <br>
                    <div class="row" style="padding-left: 10px;padding-right: 50px;">
                      <div class="col-md-12">
                        <div class="input-group mb-3">
                          <input type="text" class="form-control" placeholder="Ingrese el numero de orden"
                            aria-label="numero de orden" [(ngModel)]="numPedido" aria-describedby="btnSerie">
                          <button class="btnace btn-outline-secondary" type="button" id="btnSerie"
                            (click)="consultarPedidoFinalizar()">Buscar</button>
                        </div>
                      </div>
                    </div><!-- ./row -->
                    <!--*ngFor="let pedido of pedidos_nuevos;let impar = odd;let par = even;" [ngClass]="{azul:par,verde:impar}"-->
                    <div class="widget-body">
                      <div class="widget-main padding-8">
                        <div id="profile-feed-3" class="profile-feed" *ngFor="let item of pedidos_consul_finalizar">
                          <div class="profile-activity clearfix" *ngFor="let pedido of item.pedidos" style="padding-top: 0px;">
                            <div (click)="verPedidoEnviada(item, 'ver')">
                              <h5>{{pedido.FECHA_FIN}}</h5>
                              <div>
                                  <h6 style="line-height: 30%;"><small><b>Ubicacion:</b> {{pedido.NOMBRE_PROVINCIA}},
                                      {{pedido.NOMBRE_CIUDAD}}</small></h6>
                                  <h6 style="line-height: 30%;"><small><b>Automovil:</b> {{pedido.MARCA}},
                                      {{pedido.MODELO}}, {{pedido.ANIO}}</small></h6>
                                  <h6 style="line-height: 30%;"><small><b>Respuesto:</b> {{pedido.DESCRIPCION}}</small></h6>
                                  <h6 style="line-height: 30%;"><small><b>Extras:</b> {{pedido.ORIGINAL}},
                                      {{pedido.GENERICO}}, {{pedido.FACTURA}}, {{pedido.SERVICIO_ENV}}</small></h6>
                              </div>
                          </div>

                          <div style="text-align:end">
                            <button class="btn btn-success" (click)="finalizarNumPedido(pedido.COD_PEDIDO)">Aceptar</button>
                          </div>
        
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!--BANDEJA DE SALIDA-->
                <div class="row">
                  <div class="widget-boxMedium">
                <ngb-tabset type="tabs" justify="fill">
                  <ngb-tab title="Enviadas">
                    <ng-template ngbTabContent>
                      <div class="widget-main padding-8 scrollbarEnviados" id="style-1">
                        <div id="profile-feed-1" class="profile-feed" class="widget-body"
                          *ngFor="let item of pedidos_enviados">
                          <div class="profile-activity clearfix" *ngFor="let pedido of item.pedidos" >
                            <div (click)="verPedidoEnviada(item,'ver')">
                            <h5>{{pedido.FECHA_INI}}</h5>
                            <div>
                              <h6 style="line-height: 30%;"><small><b>Ubicacion:</b> {{pedido.NOMBRE_PROVINCIA}},
                                  {{pedido.NOMBRE_CIUDAD}}</small></h6>
                              <h6 style="line-height: 30%;"><small><b>Vehiculo:</b> {{pedido.MARCA}}, {{pedido.MODELO}},
                                  {{pedido.ANIO}}</small></h6>
                              <h6 style="line-height: 30%;"><small><b>Respuesto:</b> {{pedido.DESCRIPCION}}</small></h6>
                              <h6 style="line-height: 30%;"><small><b>Extras:</b> {{pedido.ORIGINAL}},
                                  {{pedido.GENERICO}}, {{pedido.FACTURA}}, {{pedido.SERVICIO_ENV}}</small></h6>
                            </div>
                          </div>
  
                            <div class="tools action-buttons">
                              <a [routerLink]="" class="green" (click)="verPedidoEnviada(item,'ver')">
                                <i class="ace-icon fa fa-eye bigger-130"></i>
                              </a>
                                <a [routerLink]="" class="blue" (click)="verPedidoEnviada(item, 'edit')" *ngIf="pedido.ESTADO_PROPUESTA != 'Aceptado'">
                                  <i class="ace-icon fa fa-pencil bigger-130"></i>
                                </a>                    
                              <a [routerLink]="" class="grey" (click)="verPedidoEnviadaEliminar(item)">
                                <i class="ace-icon fa fa-trash bigger-130"></i>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </ng-template>
                  </ngb-tab>
                  <ngb-tab>
                    <ng-template ngbTabTitle>Aceptadas</ng-template>
                    <ng-template ngbTabContent>
                      <div class="widget-body">
                        <div class="widget-main padding-8 scrollbarEnviados">
                          <div id="profile-feed-3" class="profile-feed" *ngFor="let item of pedidos_aceptados">
                            <div class="profile-activity clearfix" *ngFor="let pedido of item.pedidos">
                              <div (click)="verPedidoEnviada(item, 'ver')">
                                <h5>{{pedido.FECHA_FIN}}</h5>
                                <div>
                                    <h6 style="line-height: 30%;"><small><b>Ubicacion:</b> {{pedido.NOMBRE_PROVINCIA}},
                                        {{pedido.NOMBRE_CIUDAD}}</small></h6>
                                    <h6 style="line-height: 30%;"><small><b>Automovil:</b> {{pedido.MARCA}},
                                        {{pedido.MODELO}}, {{pedido.ANIO}}</small></h6>
                                    <h6 style="line-height: 30%;"><small><b>Respuesto:</b> {{pedido.DESCRIPCION}}</small></h6>
                                    <h6 style="line-height: 30%;"><small><b>Extras:</b> {{pedido.ORIGINAL}},
                                        {{pedido.GENERICO}}, {{pedido.FACTURA}}, {{pedido.SERVICIO_ENV}}</small></h6>
                                </div>
                            </div>
  
                              <div class="tools action-buttons">
                                <!--<a [routerLink]="" class="green" (click)="verPedidoEnviada(item, 'ver')">
                                  <i class="ace-icon fa fa-eye bigger-130"></i>
                                </a>-->
                                <a href="#" class="blue">
                                  <i class="ace-icon fa fa-user bigger-130"></i>
                                </a>
  
                                <a href="#" class="yellow">
                                  <i class="ace-icon fa fa-star bigger-130"></i>
                                </a>
                              </div>
                            </div>
  
                          </div>
                        </div>
                      </div>
                    </ng-template>
                  </ngb-tab>
                </ngb-tabset>
              </div>
              </div>
               <!--<div class="row">
                  <div class="widget-boxMedium">
                    <div class="widget-header">
                      <h4 class="smaller">Cotizaciones Enviadas</h4>
                    </div>
                    <div class="widget-main padding-8 scrollbarEnviados" id="style-1">
                      <div id="profile-feed-1" class="profile-feed" class="widget-body"
                        *ngFor="let item of pedidos_enviados">
                        <div class="profile-activity clearfix" *ngFor="let pedido of item.pedidos" >
                          <div (click)="verPedidoEnviada(item,'ver')">
                          <h5>{{pedido.FECHA_INI}}</h5>
                          <div>
                            <h6 style="line-height: 30%;"><small><b>Ubicacion:</b> {{pedido.NOMBRE_PROVINCIA}},
                                {{pedido.NOMBRE_CIUDAD}}</small></h6>
                            <h6 style="line-height: 30%;"><small><b>Vehiculo:</b> {{pedido.MARCA}}, {{pedido.MODELO}},
                                {{pedido.ANIO}}</small></h6>
                            <h6 style="line-height: 30%;"><small><b>Respuesto:</b> {{pedido.DESCRIPCION}}</small></h6>
                            <h6 style="line-height: 30%;"><small><b>Extras:</b> {{pedido.ORIGINAL}},
                                {{pedido.GENERICO}}, {{pedido.FACTURA}}, {{pedido.SERVICIO_ENV}}</small></h6>
                          </div>
                        </div>

                          <div class="tools action-buttons">
                            <a [routerLink]="" class="green" (click)="verPedidoEnviada(item,'ver')">
                              <i class="ace-icon fa fa-eye bigger-130"></i>
                            </a>
                              <a [routerLink]="" class="blue" (click)="verPedidoEnviada(item, 'edit')" *ngIf="pedido.ESTADO_PROPUESTA != 'Aceptado'">
                                <i class="ace-icon fa fa-pencil bigger-130"></i>
                              </a>                    
                            <a [routerLink]="" class="grey" (click)="verPedidoEnviadaEliminar(item)">
                              <i class="ace-icon fa fa-trash bigger-130"></i>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>--> 
              </div>
            </div>
            <!-- PAGE CONTENT ENDS -->
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.page-content -->
    </div>
  </div><!-- /.main-content -->
</div><!-- /.main-container -->


