<app-header-proveedor></app-header-proveedor>

<br>
<br>
<br>


    <div class="main-container ace-save-state" id="dashboard">
        <div class="main-content">
            <div class="main-content-inner">
                <div class="page-content">
                    <div class="page-header">
                        <h1>
                            Dashboard Proveedor
                            <small>
                                <i class="ace-icon fa fa-angle-double-right"></i>
                                Funcionalidades asociadas al proveedor
                            </small>
                        </h1>
                    </div><!-- /.page-header -->

                    <div class="row">
                        <div class="col-md-12">
                            <!-- PAGE CONTENT BEGINS -->

                                <div class="row">
                                    <div class="col-md-3">
                                            <div class="widget-box">
                                                <div class="widget-header">
                                                    <h4 class="smaller">Bandeja entrada</h4>
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <div class="col-md-10"><div class="input-group mb-3">
                                                        <input type="text" class="form-control" placeholder="Buscar termino" aria-label="Recipient's username" aria-describedby="button-addon2">
                                                        <button class="btnace btn-outline-secondary" type="button" id="button-addon2">Buscar</button>
                                                      </div>
                                                    </div>
                                                    
                                                </div><!-- ./row -->
                  <div >
                                                    <div class="widget-main padding-8 " class="scrollbar" id="style-1">
                                                        <div id="profile-feed-1" class="profile-feed" class="widget-body"  *ngFor="let item of pedidos_nuevos">
                                                            <div class="profile-activity clearfix"  *ngFor="let pedido of item.pedidos" (click)="verPedido(item)" >

                                                                <h5>{{pedido.FECHA_INI}}</h5>
                                                                <div >
                                                                    <h6 style="line-height: 30%;"><small><b>Ubicacion:</b> {{pedido.NOMBRE_PROVINCIA}}, {{pedido.NOMBRE_CIUDAD}}</small></h6>
                                                                    <h6 style="line-height: 30%;"><small><b>Automovil:</b> {{pedido.MARCA}}, {{pedido.MODELO}}, {{pedido.ANIO}}</small></h6>
                                                                    <h6 style="line-height: 30%;"><small><b>Respuesto:</b> {{pedido.DESCRIPCION}}</small></h6>
                                                                    <h6 style="line-height: 30%;"><small><b>Extras:</b> {{pedido.ORIGINAL}}, {{pedido.GENERICO}}, {{pedido.FACTURA}}, {{pedido.SERVICIO_ENV}}</small></h6>
                                                                </div>
  
                                                                <div class="tools action-buttons">
                                                                    <a href="#" class="blue">
                                                                        <i class="ace-icon fa fa-pencil bigger-130"></i>
                                                                    </a>
            
                                                                    <a href="#" class="red">
                                                                        <i class="ace-icon fa fa-times bigger-130"></i>
                                                                    </a>
                                                                </div>
                                                            </div>                  
                                                        </div>
                                                    </div>
                                                </div>
                                              

                                            </div>

                                            
                                    </div>
                                    <div class="col-md-6">
                                        <div class="widget-box">
                                            <div class="widget-header">
                                                <h4 class="smaller">Descripcion de repuestos</h4>
                                            </div>

                                            <div class="widget-body">
                                                <div class="well">
                                                    {{descripcion}}
                                                </div>
                                                

                                                <div class="row">
                                                    <div class="col-md-2"></div>
                                                    <div class="col-md-10">
                                                        <ul class="ace-thumbnails clearfix">

                                                            <li *ngFor="let item of fotos">
                                                                <a href="{{item.IMAGEN}}" data-rel="colorbox">
                                                                    <img width="130" height="130" alt="130x130" src="{{item.IMAGEN}}" />
                                                                </a>
                                                            </li>       
                    
                                                        </ul>
                                                    </div>
                                                   
                                                </div>
                                                <br>
                                                <div class="well">
                                                    <div class="row">
                                                        <div class="col-md-3"></div>
                                                        <div class="col-md-5 ">
                                                            <div class="input-group mb-3">
                                                                <span class="input-group-text" id="original">_Original : </span>
                                                                <input type="number" class="form-control"  placeholder="Precio" [(ngModel)]="p_original" aria-label="original" aria-describedby="original">
                                                                <span class="input-group-text">$</span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-1"></div>
                                                        <div class="col-md-1">
                                                            <label>Factura
                                                                <input name="switch-field-1" class="ace ace-switch" type="checkbox" [(ngModel)]="chfactura" [value]="chfactura"/>
                                                                <span class="lbl"></span>
                                                            </label>
                                                        </div>

                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-3"></div>
                                                        <div class="col-md-5">
                                                            <div class="input-group mb-3">
                                                                <span class="input-group-text" id="generico">Generico:</span>
                                                                <input type="number" class="form-control" placeholder="Precio" [(ngModel)]="p_generico" aria-label="Username" aria-describedby="generico">
                                                                <span class="input-group-text">$</span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-1"></div>
                                                        <div class="col-md-1">
                                                            <label>Envio
                                                                <input name="switch-field-1" class="ace ace-switch" type="checkbox"  [(ngModel)]="chenvio" [value]="chenvio"/>
                                                                <span class="lbl"></span>
                                                            </label>
                                                        </div>

                                                    </div>

                                                </div>


                                                <div class="widget-main">
                                                    <p style="text-align: center;">
                                                        <button id="loading-btn" type="button" class="btn btn-success" data-loading-text="Loading..." (click)="cotizar()">Cotizar</button>
                                                    </p>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="row">

                                            <div class="widget-box">
                                                <div class="widget-header">
                                                    <h4 class="smaller">Cotizaciones Aceptadas</h4>
                                                </div>
                                                    <!--*ngFor="let pedido of pedidos_nuevos;let impar = odd;let par = even;" [ngClass]="{azul:par,verde:impar}"-->
                                                        <div class="widget-body" >
                                                            <div class="widget-main padding-8">
                                                                <div id="profile-feed-2" class="profile-feed" >
                                                                    <div class="profile-activity clearfix">
                                                                        <h5>2021/02/02</h5>
                                                                        <div >
                                                                            <h6 style="line-height: 30%;"><small><b>Ubicacion:</b> Chimborazo, Riobamba</small></h6>
                                                                            <h6 style="line-height: 30%;"><small><b>Automovil:</b> VW, Polo, 2013</small></h6>
                                                                            <h6 style="line-height: 30%;"><small><b>Respuesto:</b> Bomba de agua</small></h6>
                                                                            <h6 style="line-height: 30%;"><small><b>Extras:</b> Original, Generico, Factura, Envio</small></h6>
                                                                        </div>
                                                                                
                                                                        <div class="tools action-buttons">
                                                                            <a href="#" class="blue">
                                                                                <i class="ace-icon fa fa-pencil bigger-130"></i>
                                                                            </a>
                    
                                                                            <a href="#" class="red">
                                                                                <i class="ace-icon fa fa-times bigger-130"></i>
                                                                            </a>
                                                                        </div>
                                                                    </div>  
                                                                    <div class="profile-activity clearfix">
                                                                        <h5>2021/02/02</h5>
                                                                        <div >
                                                                            <h6 style="line-height: 30%;"><small><b>Ubicacion:</b> Chimborazo, Riobamba</small></h6>
                                                                            <h6 style="line-height: 30%;"><small><b>Automovil:</b> VW, Polo, 2013</small></h6>
                                                                            <h6 style="line-height: 30%;"><small><b>Respuesto:</b> Bomba de agua</small></h6>
                                                                            <h6 style="line-height: 30%;"><small><b>Extras:</b> Original, Generico, Factura, Envio</small></h6>
                                                                        </div>
                                                                                
                                                                        <div class="tools action-buttons">
                                                                            <a href="#" class="blue">
                                                                                <i class="ace-icon fa fa-pencil bigger-130"></i>
                                                                            </a>
                    
                                                                            <a href="#" class="red">
                                                                                <i class="ace-icon fa fa-times bigger-130"></i>
                                                                            </a>
                                                                        </div>
                                                                    </div>    
                                                                    <div class="profile-activity clearfix">
                                                                        <h5>2021/02/02</h5>
                                                                        <div >
                                                                            <h6 style="line-height: 30%;"><small><b>Ubicacion:</b> Chimborazo, Riobamba</small></h6>
                                                                            <h6 style="line-height: 30%;"><small><b>Automovil:</b> VW, Polo, 2013</small></h6>
                                                                            <h6 style="line-height: 30%;"><small><b>Respuesto:</b> Bomba de agua</small></h6>
                                                                            <h6 style="line-height: 30%;"><small><b>Extras:</b> Original, Generico, Factura, Envio</small></h6>
                                                                        </div>
                                                                                
                                                                        <div class="tools action-buttons">
                                                                            <a href="#" class="blue">
                                                                                <i class="ace-icon fa fa-pencil bigger-130"></i>
                                                                            </a>
                    
                                                                            <a href="#" class="red">
                                                                                <i class="ace-icon fa fa-times bigger-130"></i>
                                                                            </a>
                                                                        </div>
                                                                    </div>                           
                                                                </div>
                                                            </div>
                                                    </div>


                                            </div>

                                        </div>
                                        <div class="row">

                                            <div class="widget-box">
                                                <div class="widget-header">
                                                    <h4 class="smaller">Cotizaciones Enviadas</h4>
                                                </div>
    
                                                <div class="widget-body" >
                                                    <div class="widget-main padding-8">
                                                        <div id="profile-feed-3" class="profile-feed" >
                                                            <div class="profile-activity clearfix">
                                                                <h5>2021/02/02</h5>
                                                                <div >
                                                                    <h6 style="line-height: 30%;"><small><b>Ubicacion:</b> Chimborazo, Riobamba</small></h6>
                                                                    <h6 style="line-height: 30%;"><small><b>Automovil:</b> VW, Polo, 2013</small></h6>
                                                                    <h6 style="line-height: 30%;"><small><b>Respuesto:</b> Bomba de agua</small></h6>
                                                                    <h6 style="line-height: 30%;"><small><b>Extras:</b> Original, Generico, Factura, Envio</small></h6>
                                                                </div>
                                                                        
                                                                <div class="tools action-buttons">
                                                                    <a href="#" class="blue">
                                                                        <i class="ace-icon fa fa-pencil bigger-130"></i>
                                                                    </a>
            
                                                                    <a href="#" class="red">
                                                                        <i class="ace-icon fa fa-times bigger-130"></i>
                                                                    </a>
                                                                </div>
                                                            </div>  
                                                            <div class="profile-activity clearfix">
                                                                <h5>2021/02/02</h5>
                                                                <div >
                                                                    <h6 style="line-height: 30%;"><small><b>Ubicacion:</b> Chimborazo, Riobamba</small></h6>
                                                                    <h6 style="line-height: 30%;"><small><b>Automovil:</b> VW, Polo, 2013</small></h6>
                                                                    <h6 style="line-height: 30%;"><small><b>Respuesto:</b> Bomba de agua</small></h6>
                                                                    <h6 style="line-height: 30%;"><small><b>Extras:</b> Original, Generico, Factura, Envio</small></h6>
                                                                </div>
                                                                        
                                                                <div class="tools action-buttons">
                                                                    <a href="#" class="blue">
                                                                        <i class="ace-icon fa fa-pencil bigger-130"></i>
                                                                    </a>
            
                                                                    <a href="#" class="red">
                                                                        <i class="ace-icon fa fa-times bigger-130"></i>
                                                                    </a>
                                                                </div>
                                                            </div>    
                                                            <div class="profile-activity clearfix">
                                                                <h5>2021/02/02</h5>
                                                                <div >
                                                                    <h6 style="line-height: 30%;"><small><b>Ubicacion:</b> Chimborazo, Riobamba</small></h6>
                                                                    <h6 style="line-height: 30%;"><small><b>Automovil:</b> VW, Polo, 2013</small></h6>
                                                                    <h6 style="line-height: 30%;"><small><b>Respuesto:</b> Bomba de agua</small></h6>
                                                                    <h6 style="line-height: 30%;"><small><b>Extras:</b> Original, Generico, Factura, Envio</small></h6>
                                                                </div>
                                                                        
                                                                <div class="tools action-buttons">
                                                                    <a href="#" class="blue">
                                                                        <i class="ace-icon fa fa-pencil bigger-130"></i>
                                                                    </a>
            
                                                                    <a href="#" class="red">
                                                                        <i class="ace-icon fa fa-times bigger-130"></i>
                                                                    </a>
                                                                </div>
                                                            </div>                           
                                                        </div>
                                                    </div>
                                            </div>
                                            </div>

                                        </div>
                                        
                                   
                                    </div>
                                    
                                </div>

  
                            <!-- PAGE CONTENT ENDS -->
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.page-content -->
            </div>
        </div><!-- /.main-content -->
    </div><!-- /.main-container -->
    

