<app-header-proveedor></app-header-proveedor>

<br>
<br>
<br>


    <div class="main-container ace-save-state" id="main-container">
        <div class="main-content">
            <div class="main-content-inner">
                <div class="page-content">
                    <div class="page-header">
                        <h1>
                            Dashboard Proveedor
                            <small>
                                <i class="ace-icon fa fa-angle-double-right"></i>
                                Funcionalidades asociadas al proveedor
                            </small>
                        </h1>
                    </div><!-- /.page-header -->

                    <div class="row">
                        <div class="col-md-12">
                            <!-- PAGE CONTENT BEGINS -->

                                <div class="row">
                                    <div class="col-md-3">
                                            <div class="widget-box">
                                                <div class="widget-header">
                                                    <h4 class="smaller">Bandeja entrada</h4>
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <div class="col-md-10"><div class="input-group mb-3">
                                                        <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
                                                        <button class="btn btn-outline-secondary" type="button" id="button-addon2">Buscar</button>
                                                      </div>
                                                    </div>
                                                    
                                                </div><!-- ./row -->
                <!--       
                                                <div class="media search-media">
                                                    <div class="media-left">
                                                        <a href="#">
                                                            <img class="media-object" data-src="holder.js/72x72" />
                                                        </a>
                                                    </div>

                                                    <div class="media-body">
                                                        <div>
                                                            <h4 class="media-heading">
                                                                <a href="#" class="blue">2021/05/06</a>
                                                            </h4>
                                                        </div>
                                                        <h6>Ubicacion: Chimborazo, Riobamba</h6>
                                                        <h6>Ubicacion: Chimborazo, Riobamba</h6>
                                                        <p>Ubicacion: Chimborazo, Riobamba</p>

                                                        <div class="search-actions text-center">
                                                            <span class="text-info">$</span>

                                                            <span class="blue bolder bigger-130">300</span>

                                                            monthly
                                                            <div class="action-buttons bigger-130">
                                                                <a href="#">
                                                                    <i class="ace-icon fa fa-phone green"></i>
                                                                </a>

                                                                <a href="#">
                                                                    <i class="ace-icon fa fa-heart red"></i>
                                                                </a>

                                                                <a href="#">
                                                                    <i class="ace-icon fa fa-star orange2"></i>
                                                                </a>
                                                            </div>
                                                            <a class="search-btn-action btn btn-sm btn-block btn-info">Book it!</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                -->     
                                                <div class="widget-body" *ngFor="let pedido of pedidos_nuevos" (click)="verPedido(pedido)">
                                                    <div class="widget-main padding-8">
                                                        <div id="profile-feed-1" class="profile-feed">
                                                            <div class="profile-activity clearfix">
                                                                <h5>{{pedido.FECHA_INI}}</h5>
                                                                <div >
                                                                    <h6 style="line-height: 40%;"><b>Ubicacion:</b> {{pedido.NOMBRE_PROVINCIA}}, {{pedido.NOMBRE_CIUDAD}}</h6>
                                                                    <h6 style="line-height: 40%;"><b>Automovil:</b> {{pedido.MARCA}}, {{pedido.MODELO}}, {{pedido.ANIO}}</h6>
                                                                    <h6 style="line-height: 40%;"><b>Respuesto:</b> {{pedido.DESCRIPCION}}</h6>
                                                                    <h6 style="line-height: 40%;"><b>Extras:</b> {{pedido.ORIGINAL}}, {{pedido.GENERICO}}, {{pedido.FACTURA}}, {{pedido.SERVICIO_ENV}}</h6>
                                                                </div>
                                                                        
                                                                <div class="tools action-buttons">
                                                                    <a href="#" class="blue">
                                                                        <i class="ace-icon fa fa-pencil bigger-130"></i>
                                                                    </a>
            
                                                                    <a href="#" class="red">
                                                                        <i class="ace-icon fa fa-times bigger-130"></i>
                                                                    </a>
                                                                </div>
                                                            </div>                  
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                            
                                    </div>
                                    <div class="col-md-6">
                                        <div class="widget-box">
                                            <div class="widget-header">
                                                <h4 class="smaller">Descripcion de repuestos</h4>
                                            </div>

                                            <div class="widget-body">
                                                <div class="well">
                                                    Bomba de agua, modelo cahsgdhafa made in brasil.
                                                </div>
                                                

                                                <div>
                                                    <ul class="ace-thumbnails clearfix">

                                                        <li>
                                                            <a href="assets/dashboard/images/gallery/image-2.jpg" data-rel="colorbox">
                                                                <img width="130" height="130" alt="130x130" src="assets/dashboard/images/gallery/thumb-2.jpg" />
                                                            </a>
                                                        </li>  
                                                        <li>
                                                            <a href="assets/dashboard/images/gallery/image-2.jpg" data-rel="colorbox">
                                                                <img width="130" height="130" alt="130x130" src="assets/dashboard/images/gallery/thumb-2.jpg" />
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="assets/dashboard/images/gallery/image-2.jpg" data-rel="colorbox">
                                                                <img width="130" height="130" alt="130x130" src="assets/dashboard/images/gallery/thumb-2.jpg" />
                                                            </a>
                                                        </li>            
                
                                                    </ul>
                                                </div>
                                                <br>
                                                <div class="well">
                                                    <div class="row">
                                                        <div class="col-md-8">
                                                            <div class="input-group mb-3">
                                                                <span class="input-group-text" id="original">_Original : </span>
                                                                <input type="number" class="form-control" placeholder="Precio" aria-label="Username" aria-describedby="original">
                                                                <span class="input-group-text">$</span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-1"></div>
                                                        <div class="col-md-3">
                                                            <label>Factura
                                                                <input name="switch-field-1" class="ace ace-switch" type="checkbox" />
                                                                <span class="lbl"></span>
                                                            </label>
                                                        </div>

                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-8">
                                                            <div class="input-group mb-3">
                                                                <span class="input-group-text" id="generico">Generico:</span>
                                                                <input type="number" class="form-control" placeholder="Precio" aria-label="Username" aria-describedby="generico">
                                                                <span class="input-group-text">$</span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-1"></div>
                                                        <div class="col-md-3">
                                                            <label>Envio
                                                                <input name="switch-field-1" class="ace ace-switch" type="checkbox" />
                                                                <span class="lbl"></span>
                                                            </label>
                                                        </div>

                                                    </div>

                                                </div>


                                                <div class="widget-main">
                                                    <p style="text-align: center;">
                                                        <button id="loading-btn" type="button" class="btn btn-success" data-loading-text="Loading...">Cotizar</button>
                                                    </p>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="row">

                                            <div class="widget-box">
                                                <div class="widget-header">
                                                    <h4 class="smaller">Cotizaciones Aceptadas</h4>
                                                </div>
    
                                                <div class="widget-body" *ngFor="let pedido of pedidos_nuevos;let impar = odd;let par = even;" [ngClass]="{azul:par,verde:impar}" (click)="verPedido(pedido)">
                                                    <div class="widget-main padding-8">
                                                        <div id="profile-feed-1" class="profile-feed">
                                                            <div class="profile-activity clearfix">
                                                                <h5>{{pedido.FECHA_INI}}</h5>
                                                                <div >
                                                                    <h6 style="line-height: 30%;"><small><b>Ubicacion:</b> {{pedido.NOMBRE_PROVINCIA}}, {{pedido.NOMBRE_CIUDAD}}</small></h6>
                                                                    <h6 style="line-height: 30%;"><small><b>Automovil:</b> {{pedido.MARCA}}, {{pedido.MODELO}}, {{pedido.ANIO}}</small></h6>
                                                                    <h6 style="line-height: 30%;"><small><b>Respuesto:</b> {{pedido.DESCRIPCION}}</small></h6>
                                                                    <h6 style="line-height: 30%;"><small><b>Extras:</b> {{pedido.ORIGINAL}}, {{pedido.GENERICO}}, {{pedido.FACTURA}}, {{pedido.SERVICIO_ENV}}</small></h6>
                                                                </div>
                                                                        
                                                                <div class="tools action-buttons">
                                                                    <a href="#" class="blue">
                                                                        <i class="ace-icon fa fa-pencil bigger-130"></i>
                                                                    </a>
            
                                                                    <a href="#" class="red">
                                                                        <i class="ace-icon fa fa-times bigger-130"></i>
                                                                    </a>
                                                                </div>
                                                            </div>                  
                                                        </div>
                                                    </div>
                                               

                                            </div>

                                            </div>

                                        </div>
                                        <div class="row">

                                            <div class="widget-box">
                                                <div class="widget-header">
                                                    <h4 class="smaller">Cotizaciones Enviadas</h4>
                                                </div>
    
                                                <div class="widget-body">
                                                    <div class="widget-main">
                                                        <p>
                                                            <span class="btn btn-sm" data-rel="popover" title="Default" data-content="Heads up! This alert needs your attention, but it's not super important.">Default</span>
                                                            <span class="btn btn-success btn-sm popover-success" data-rel="popover" data-placement="right" title="<i class='ace-icon fa fa-check green'></i> Right Success" data-content="Well done! You successfully read this important alert message.">Right</span>
                                                            <span class="btn btn-warning btn-sm popover-warning" data-rel="popover" data-placement="left" title="<i class='ace-icon fa fa-exclamation-triangle orange'></i> Left Warning" data-content="Warning! Best check yo self, you're not looking too good.">Left</span>
                                                        </p>
    
                                                        <p>
                                                            <span class="btn btn-danger btn-sm popover-error" data-rel="popover" data-placement="top" data-original-title="<i class='ace-icon fa fa-bolt red'></i> Top Danger" data-content="Oh snap! Change a few things up and try submitting again.">Top</span>
                                                            <span class="btn btn-info btn-sm popover-info" data-rel="popover" data-placement="bottom" title="Some Info" data-content="Heads up! This alert needs your attention, but it's not super important.">Bottom</span>
                                                            <span class="btn btn-inverse btn-sm popover-notitle" data-rel="popover" data-placement="bottom" data-content="Popover without a title!">No Title</span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        
                                   
                                    </div>
                                    
                                </div>

  
                            <!-- PAGE CONTENT ENDS -->
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.page-content -->
            </div>
        </div><!-- /.main-content -->
    </div><!-- /.main-container -->

