<section class="signup">
    <div class="container">
        <div class="signup-content">
            <div class="signup-form" data-aos="fade-right">
                <h2 class="form-title">Registrarse</h2>
                <form method="POST" class="register-form" id="register-form">
                    <div class="form-group">
                        <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                        <input type="text" name="name" id="name" placeholder="Nombres y apellidos"/>
                    </div>
                    <div class="form-group">
                        <label for="name"><i class="zmdi zmdi-account-box"></i></label>
                        <input type="text" name="name" id="name" placeholder="Cedula o pasaporte"/>
                    </div>
                    <div class="form-group">
                        <label for="name"><i class="zmdi zmdi-phone"></i></label>
                        <input type="text" name="name" id="name" placeholder="Telefono o celular"/>
                    </div>
                    <div class="form-group">
                        <label for="email"><i class="zmdi zmdi-email"></i></label>
                        <input type="email" name="email" id="email" placeholder="Email"/>
                    </div>
                    <div class="form-group">
                        <label for="email"><i class="zmdi zmdi-store"></i></label>
                        <input type="email" name="email" id="email" placeholder="Nombre del local"/>
                    </div>
                    <div class="form-group">
                        <label for="email"><i class="zmdi zmdi-city"></i></label>
                        <input type="email" name="email" id="email" placeholder="Ciudad"/>
                    </div>
                    <div class="form-group">
                        <label for="email"><i class="zmdi zmdi-gps-dot"></i></label>
                        <input type="email" name="email" id="email" placeholder="Direccion"/>
                    </div>
                    <div class="form-group">
                        <label for="email"><i class="zmdi zmdi-gps-dot"></i></label>
                        <input type="email" name="email" id="email" placeholder="Sector"/>
                    </div>
                    <div class="form-group">
                        <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                        <input type="password" name="pass" id="pass" placeholder="Contraseña"/>
                    </div>
                    <div class="form-group">
                        <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                        <input type="password" name="re_pass" id="re_pass" placeholder="Repita su contraseña"/>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                        <label for="agree-term" class="label-agree-term"><span><span></span></span>Acepto todas las declaraciones en los <a href="#" class="term-service">Términos de servicio</a></label>
                    </div>
                    <div class="form-group form-button">
                        <input type="submit" name="signup" id="signup" class="form-submit" value="Register"/>
                    </div>
                </form>
            </div>
            <div class="signup-image" data-aos="fade-left">
                <figure><img src="assets/login_registro/images/signup-image.jpg" alt="sing up image" ></figure>
                <a routerLink="/login" class="signup-image-link">Ya soy miembro</a>
            </div>
        </div>
    </div>
</section>