<app-header-proveedor></app-header-proveedor>

<br>
<br>
<br>
<div class="main-container ace-save-state" id="dashboard">
  <div class="main-content">
    <div class="main-content-inner">
      <div class="page-content">
        <div class="page-header">
          <h1>
            Resumen de ventas
            <small>
              <i class="ace-icon fa fa-angle-double-right"></i>
              Detalle des sus ventas
            </small>
          </h1>
        </div><!-- /.page-header -->
      </div>
    </div>
  </div>
</div>
