<app-menu-admin></app-menu-admin>
<br>
<br>
<br>
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Cargando... </p></ngx-spinner>
<div class="no-skin">
    
    <div class="main-container ace-save-state" id="main-container">
      

        <app-menu-lateral>

        </app-menu-lateral>
     
          <div class="main-content" >
     
            <div class="row">
                <div class="col-xs-12">
                    <div class="page-header">
                        <h1>
                            Ventas
                            <small>
                                <i class="ace-icon fa fa-angle-double-right"></i>
                                Ventas proveedores
                            </small>
                        </h1>
                    </div><!-- /.page-header -->
                    <!-- PAGE CONTENT BEGINS -->                  
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                          <app-resumen-mes [proveedor_id]='proveedor_id'></app-resumen-mes>
                        </div>                       
                      </div>
            </div><!-- /.row -->
        </div><!-- /.page-content -->
            
            

        </div>      
    </div>
</div>

