<div >
    <div class="clearfix">
    <div class="pull-right tableTools-container"></div>
  </div>
  <div class="table-header" style="background-color:#213b52;">
    Valores a cancelar
  </div>
  <div>
    <table id="myTable" class="table table-striped table-bordered table-hover textTam">
      <thead>
        <tr>                  
          <th>Item</th>
          <th>Cantidad</th>
          <th class="hidden-480">Total</th>  
          <th class="hidden-480">Recargo</th>                  
          <th class="hidden-480">A Pagar</th>
        </tr>
      </thead>
      <tbody >
        <tr>                  
          <td>{{selectPublicidad.DESCRIPCION}}</td>
          <td class="hidden-480">1</td>                  
          <td>{{selectPublicidad.PRECIO|currency}}</td>
          <td class="hidden-480">0</td>
          <td class="hidden-480">
            <span >{{selectPublicidad.PRECIO|currency}}</span>
          </td>                 
        </tr>     
        <tr>                  
          <td>{{selectLicencia.DESCRIPCION}}</td>
          <td class="hidden-480">1</td>
          <td>{{selectLicencia.VALOR|currency}}</td>
          <td class="hidden-480">0</td>
          <td class="hidden-480">
            <span >{{selectLicencia.VALOR|currency}}</span>
          </td>                 
        </tr>  
        <tr>                  
          <td>Ventas finalizadas</td>
          <td class="hidden-480">{{total_ventas.VENTAS}}</td>
          <td class="hidden-480">{{total_ventas.TOTAL_ORIGINAL_COM|currency }}</td>
          <td>{{total_ventas.TOTAL_ORIGINAL_COM - total_ventas.TOTAL_ORIGINAL|currency }}</td>
          <td class="hidden-480">
            <span >{{total_ventas.TOTAL_ORIGINAL_COM - total_ventas.TOTAL_ORIGINAL|currency }}</span>
          </td>                 
        </tr>  
        <tr>                  
          <td>Total</td>
          <td class="hidden-480"></td>
          <td> </td>
          <td> </td>
          <td class="hidden-480">
            <span >{{this.precio_total |currency}}</span>
          </td>                 
        </tr>  
      </tbody>
    </table>
  </div>                    
</div>
