<section id="hero">

  <div class="container">
    <div class="row d-flex align-items-center">
    <div class=" col-lg-6 py-5 py-lg-0 order-2 order-lg-1" data-aos="fade-right">
      <h1>Una nueva xperiencia digital con Repicar</h1>
      <h2>Ahorre tiempo y dinero</h2>
      <a href="#about" class="btn-get-started scrollto">Registrate como proveedor</a>
      <h2></h2>
      <h2 >Disponible en:</h2>
      <a class="btn btn-google" href="#" title="Google Play">Google Play</a>
      <a class="btn btn-apple" href="#" title="Google Play">App Store</a>
    </div>
    <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left">
      <img src="assets/img/hero-img.png" class="img-fluid animated" alt="">
    </div>
  </div>
  </div>

</section><!-- End Hero -->

<main id="main">

  <!-- ======= Clients Section ======= -->
  <section id="clients" class="clients section-bg">
    <div class="container">

      <div class="row no-gutters clients-wrap clearfix wow fadeInUp">

        <div class="col-lg-2 col-md-4 col-6">
          <div class="client-logo">
            <img src="assets/img/clients/client-1.png" class="img-fluid" alt="" data-aos="flip-right">
          </div>
        </div>

        <div class="col-lg-2 col-md-4 col-6">
          <div class="client-logo">
            <img src="assets/img/clients/client-2.png" class="img-fluid" alt="" data-aos="flip-right" data-aos-delay="100">
          </div>
        </div>

        <div class="col-lg-2 col-md-4 col-6">
          <div class="client-logo">
            <img src="assets/img/clients/client-3.png" class="img-fluid" alt="" data-aos="flip-right" data-aos-delay="200">
          </div>
        </div>

        <div class="col-lg-2 col-md-4 col-6">
          <div class="client-logo">
            <img src="assets/img/clients/client-4.png" class="img-fluid" alt="" data-aos="flip-right" data-aos-delay="300">
          </div>
        </div>

        <div class="col-lg-2 col-md-4 col-6">
          <div class="client-logo">
            <img src="assets/img/clients/client-5.png" class="img-fluid" alt="" data-aos="flip-right" data-aos-delay="400">
          </div>
        </div>

        <div class="col-lg-2 col-md-4 col-6">
          <div class="client-logo">
            <img src="assets/img/clients/client-6.png" class="img-fluid" alt="" data-aos="flip-right" data-aos-delay="500">
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Clients Section -->

   <!-- ======= About Section ======= -->
   <section id="about" class="about section-bg">
    <div class="container">

      <div class="row">
        <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start"></div>
        <div class="col-xl-7 pl-0 pl-lg-5 pr-lg-1 d-flex align-items-stretch">
          <div class="content d-flex flex-column justify-content-center">
            <h3 data-aos="fade-in" data-aos-delay="100">ACERCA DE NOSOTROS</h3>
            <div class="row">
              <div class="col-md-6 icon-box" data-aos="fade-up">
                <i class="bx bx-receipt"></i>
                <h4><a href="#">Compromiso</a></h4>
                <p>REPiCAR está comprometido con la transformación digital del país. La era digital esta dominando el mundo, tanto que hoy en día, compras y ventas de todo tipo se puede realizar de manera fácil, rápida y segura por internet. Ecuador merece progreso y REPiCAR te invita a ser parte del comercio digital de repuestos automotrices</p>
              </div>
              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                <i class="bx bx-cube-alt"></i>
                <h4><a href="#">Ahorro de tiempo y dinero</a></h4>
                <p>REPiCAR piensa en el tiempo y dinero del cliente, es por esta razón que tus repuestos puedes buscar y comprar mediante nuestra aplicación móvil y lo recibes en la comodidad del taller o lugar que prefieras</p>
              </div>
              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                <i class="bx bx-images"></i>
                <h4><a href="#">Tienda digital</a></h4>
                <p>Con REPiCAR tu local comercial se convierte en una tienda digital de repuestos y mediante nuestra aplicación puedes aumentar tus ventas. No necesitas esperar a los clientes en tu local, nuestra “Aplicación” te lleva los pedidos de repuestos directamente desde el cliente hacia tu local</p>
              </div>
              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                <i class="bx bx-shield"></i>
                <h4><a href="#">Seguridad</a></h4>
                <p>REPiCAR cuida de ti y tu familia, nuestra aplicación permite interactuar a clientes y proveedores de forma digital pero segura, así conservas el distanciamiento social y evitas contagios</p>
              </div>
            </div>
          </div><!-- End .content-->
        </div>
      </div>
    </div>
  </section><!-- End About Section -->
  <!-- ======= Services Section ======= -->
  <section id="services" class="services section-bg">
    <div class="container">

      <div class="section-title">
        <h2 data-aos="fade-in">Por que usar Repicar</h2>
           </div>

      <div class="row">
        <div class="col-md-4 d-flex align-items-stretch" data-aos="fade-right">
          <div class="card">
            <div class="card-img">
              <img src="assets/img/services-1.jpg" alt="...">
            </div>
            <div class="card-body">
              <h5 class="card-title"><a href="">Ingrese al comercio digital</a></h5>
              <p class="card-text">Ingrese en el comercio electronico de repuestos automotrices, venda a nivel nacional
                y aumente sus ganancias en forma online.</p>

            </div>
          </div>
        </div>
        <div class="col-md-4 d-flex align-items-stretch" data-aos="fade-up">
          <div class="card">
            <div class="card-img">
              <img src="assets/img/registro_proveedor.png" alt="...">
            </div>
            <div class="card-body">
              <h5 class="card-title"><a href="">Registrese como proveedor y obtenga los siguientes beneficios.</a></h5>
              <ul>
                <li>
                  Reciba pedidos de repuestos con descripcion y fotos.
                </li>
                <li>
                  Oferte sus repuestos originales o genericos con sus respectivos precios.
                </li>
                <li>
                  Publicidad de su centro comercial en nuestra aplicacion y redes sociales.
                </li>
              </ul>
              <div class="text-center"><a href="#about" class="btn-get-started scrollto">Registrate como proveedor</a></div>
            </div>
          </div>

        </div>
        <div class="col-md-4 d-flex align-items-stretch" data-aos="fade-left">
          <div class="card">
            <div class="card-img">
              <img src="assets/img/services-3.jpg" alt="...">
            </div>
            <div class="card-body">
              <h5 class="card-title"><a href="">Ahorre tiempo y dinero</a></h5>
              <p class="card-text">Busque sus repuestos desde su celular, escoja el mejor que le convenga y recibalo en su casa</p>
              <a class="btn btn-google" href="#" title="Google Play">Google Play</a>
              <a class="btn btn-apple" href="#" title="Google Play">App Store</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Services Section -->
  <!-- ======= Features Section ======= -->
  <section id="features" class="features section-bg">
    <div class="container">

      <div class="section-title">
        <h2 data-aos="fade-in">Como funciona Repicar</h2>
        <p data-aos="fade-in">Repicar es una plataforma digital la cual cuenta con dos aplicaciones una movil para el cliente y una web para el proveedor</p>
      </div>

      <div class="row content">
        <div class="col-md-5" data-aos="fade-right">
          <img src="assets/img/features-1.svg" class="img-fluid" alt="">
        </div>
        <div class="col-md-7 pt-4" data-aos="fade-left">
          <h3>APLICACIÓN DE CLIENTE</h3>
          <p class="fst-italic">
            <b>1. Descargar la aplicación de Cliente.</b>
          </p>
          <ul>
            <li><i class="bi bi-check"></i> Descarga nuestra aplicación REPiCAR en la tienda de Play Store para dispositivos móviles de Android o App Store para dispositivos móviles de Apple.</li>
            <li><i class="bi bi-check"></i> Regístrate con tu correo electrónico y contraseña. Listo puedes buscar tus repuestos.</li>
          </ul>
          <p class="fst-italic">
            <b>2.	Buscar repuestos.</b>
          </p>
          <ul>
            <li><i class="bi bi-check"></i> Selecciona en qué provincia y ciudad deseas buscar tu repuesto, si no encuentras en tu ciudad puedes buscar en las más cercanas.</li>
            <li><i class="bi bi-check"></i> Selecciona el tipo de vehículo, este puede ser automóvil, camioneta, camión, buseta, etc.</li>
            <li><i class="bi bi-check"></i> Selecciona la marca, modelo y año de tu vehículo, esto es importante para que el proveedor tenga una mejor referencia de tu pedido.</li>
            <li><i class="bi bi-check"></i>Ingresa la descripción del repuesto, y adjunta fotografías del mismo para que el proveedor seleccione el repuesto correcto.</li>
            <li><i class="bi bi-check"></i> Selecciona si tu repuesto lo quieres original o genérico, además si necesitas factura y envío. Si necesitas factura debes completar tus datos para que sean ingresados en la factura.</li>
            <li><i class="bi bi-check"></i> Puedes añadir mas repuestos de acuerdo a tu necesidad. Te recomendamos que ingreses de uno en uno para evitar confusión en la descripción de los repuestos.</li>
          
          </ul>
        </div>
      </div>

      <div class="row content">
        <div class="col-md-5 order-1 order-md-2" data-aos="fade-left">
          <img src="assets/img/features-4.svg" class="img-fluid" alt="">
        </div>
        <div class="col-md-7 pt-5" data-aos="fade-left">
          <h3>APLICACIÓN DE CLIENTE</h3>
          <b><p>3.	Comprar un repuesto.</p></b>
          <ul>
            <li><i class="bi bi-check"></i> En tu bandeja de entrada recibirás las ofertas de varios proveedores, selecciona la que mejor te convenga.</li>
            <li><i class="bi bi-check"></i> Asegúrate de aceptar el repuesto que estas buscando, una vez que aceptes la compra las otras ofertas serán ocultas y solo podrás interactuar con el proveedor seleccionado.</li>
            <li><i class="bi bi-check"></i> Al aceptar la compra de un repuesto se muestra toda la información del proveedor, ahora te puedes contactar con el proveedor y continuar con la compra.</li>
            <li><i class="bi bi-check"></i> Al aceptar la compra de tu repuesto, se genera una ORDEN DE COMPRA, el proveedor te pedirá este código para realizar el despacho de tu pedido. Asegúrate de indicarle el código correcto.</li>
          </ul>
        </div>
      </div>

      <div class="row content">
        <div class="col-md-5" data-aos="fade-right">
          <img src="assets/img/features-2.svg" class="img-fluid" alt="">
        </div>
        <div class="col-md-7 pt-5" data-aos="fade-left">
          <h3>APLICACIÓN DE PROVEEDOR</h3>
          <b><p>1.	Regístrate como proveedor.</p></b>
          <ul>
            <li><i class="bi bi-check"></i> Ingresa al link www.repicar.com.ec  </li>
            <li><i class="bi bi-check"></i> Completa el formulario y presiona sobre REGISTRAR para enviar tu información a la base de datos de REPiCAR. Nuestros administradores se contactarán contigo para habilitar tu cuenta.</li>
          </ul>
          <b><p>2.	Cotiza los pedidos.</p></b>
          <ul>
            <li><i class="bi bi-check"></i> Puedes filtrar los pedidos por provincia, ciudad y tipo de vehículo, así recibirás los pedidos de acuerdo a los repuestos que ofertas. </li>
            <li><i class="bi bi-check"></i> En la bandeja de entrada selecciona los pedidos para ver una descripción detallada y con fotografías de los repuestos.</li>
            <li><i class="bi bi-check"></i> Ingresa el precio y da click sobre COTIZAR para que el cliente pueda ver tu oferta. </li>
           
          </ul>
          <b><p>3.	Despachar tu pedido.</p></b>
          <ul>
            <li><i class="bi bi-check"></i> En la bandeja de COTIZACIONES ACEPTADAS ingresa la orden de compra emitida por el cliente. </li>
            <li><i class="bi bi-check"></i> Selecciona la orden de compra del cliente y ya puedes despachar el pedido.</li>
          </ul>
        </div>
      </div>


    </div>
  </section><!-- End Features Section -->
   <!-- ======= Frequently Asked Questions Section ======= -->
   <section id="faq" class="faq section-bg">
    <div class="container">

      <div class="section-title">
        <h2 data-aos="fade-in">PREGUNTAS FRECUENTES</h2>
      </div>

      <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up">
        <div class="col-lg-5">
          <i class="bx bx-help-circle"></i>
          <h4>¿Dónde descargo la aplicación REPiCAR?</h4>
        </div>
        <div class="col-lg-7">
          <p>
            Las tiendas mas comunes para descargar aplicaciones móviles son de Google y de a iOS siendo estas Play Store y App Store respectivamente.
            En tu celular en CONFIGURACION – ACERCA DEL TELEFONO puedes revisar si tu equipo es Android o iOS. 
          </p>
        </div>
      </div><!-- End F.A.Q Item-->

      <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
        <div class="col-lg-5">
          <i class="bx bx-help-circle"></i>
          <h4>¿Por qué ahorro tiempo y dinero en la adquisición de repuestos automotrices con REPiCAR?</h4>
        </div>
        <div class="col-lg-7">
          <p>
            Se estima que el tiempo que se demora una persona en adquirir un repuesto es de 1.5 a 2 horas, o más, esto porque tiene que ir a la zona de repuestos automotrices, buscar, adquirir el repuesto y regresar al taller mecánico. Con REPiCAR te evitas esa actividad y puedes buscar tu repuesto desde tu celular en menos de 20 minutos.
            En varios distribuidores de repuestos si tu compra supera un determinado valor incluso el envío es gratis, es decir ahorras dinero en trasporte porque tu tienes la posibilidad de recibir tu repuesto en el lugar que tu decidas.

          </p>
        </div>
      </div><!-- End F.A.Q Item-->

      <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
        <div class="col-lg-5">
          <i class="bx bx-help-circle"></i>
          <h4>¿Cómo buscar el repuesto correcto?</h4>
        </div>
        <div class="col-lg-7">
          <p>
            En la descripción del repuesto pon términos que pueda entender el proveedor, pide ayuda al mecánico si es necesario para completar este campo. Adjunta fotos claras del repuesto, algunos tienen algún código o serie, esto le permitirá al proveedor seleccionar el repuesto adecuado
          </p>
        </div>
      </div><!-- End F.A.Q Item-->

      <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
        <div class="col-lg-5">
          <i class="bx bx-help-circle"></i>
          <h4>¿Qué necesito para buscar un repuesto en REPiCAR?</h4>
        </div>
        <div class="col-lg-7">
          <p>
            Necesitas el modelo, marca y año de tu vehículo, si no estás seguro de estos datos puedes revisar la matrícula del vehículo ahí encontraras la información correcta.  
          </p>
        </div>
      </div><!-- End F.A.Q Item-->

      <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
        <div class="col-lg-5">
          <i class="bx bx-help-circle"></i>
          <h4>¿Cómo vender repuestos automotrices por REPiCAR?</h4>
        </div>
        <div class="col-lg-7">
          <p>
            Ingresa al link www.repicar.com.ec y completa el formulario de registro. El administrador de REPiCAR creara una cuenta para tu local comercial e inmediatamente podrás recibir los pedidos de repuestos.  
          </p>
        </div>
      </div><!-- End F.A.Q Item-->
      <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
        <div class="col-lg-5">
          <i class="bx bx-help-circle"></i>
          <h4>¿Como puedo aumentar mis ventas con REPiCAR?</h4>
        </div>
        <div class="col-lg-7">
          <p>
            Los proveedores de repuestos automotrices no todo el tiempo están despachando pedidos o tienen su local lleno de clientes, en ese tiempo libre pueden cotizar los pedidos de repuestos mediante la aplicación REPiCAR, de esta manera no solo atienden a clientes de forma presencial sino también por medio de nuestra aplicación.
          </p>
        </div>
      </div><!-- End F.A.Q Item-->

    </div>
  </section><!-- End Frequently Asked Questions Section -->

  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Contactos</h2>
        <p>Contactanos sera un placer atendertes.</p>
      </div>

      <div class="row">

        <div class="col-lg-6">

          <div class="row">
            <div class="col-md-12">
              <div class="info-box" data-aos="fade-up">
                <i class="bx bx-map"></i>
                <h3>Nuestra direccion</h3>
                <p>Av. Leon Borja y Francia</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="info-box mt-4" data-aos="fade-up" data-aos-delay="100">
                <i class="bx bx-envelope"></i>
                <h3>Nustros correos</h3>
                <p>info@example.com<br>lcvelastegui@gmail.com</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="info-box mt-4" data-aos="fade-up" data-aos-delay="100">
                <i class="bx bx-phone-call"></i>
                <h3>Llamadas y WhatsAap</h3>
                <p>0987332566<br>0987332566</p>
              </div>
            </div>
          </div>

        </div>

        <div class="col-lg-6 mt-4 mt-lg-0">
          <form action="forms/contact.php" method="post" role="form" class="php-email-form w-100" data-aos="fade-up">
            <div class="row">
              <div class="col-md-6 form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Tu nombre" required>
              </div>
              <div class="col-md-6 form-group mt-3 mt-md-0">
                <input type="email" class="form-control" name="email" id="email" placeholder="Tu email" required>
              </div>
            </div>
            <div class="form-group mt-3">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Asunto" required>
            </div>
            <div class="form-group mt-3">
              <textarea class="form-control" name="message" rows="5" placeholder="Mensaje" required></textarea>
            </div>
            <div class="my-3">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your message has been sent. Thank you!</div>
            </div>
            <div class="text-center"><button type="submit">Enviar mensaje</button></div>
          </form>
        </div>

      </div>

    </div>
  </section><!-- End Contact Section -->


</main>