<app-menu-admin></app-menu-admin>
<br>
<br>
<br>

<div class="no-skin">
    
    <div class="main-container ace-save-state" id="main-container">
      

        <div id="sidebar" class="sidebar                  responsive                    ace-save-state">
            <script type="text/javascript">
                try{ace.settings.loadState('sidebar')}catch(e){}
            </script>
<!--Botones en el menu -->
            <div class="sidebar-shortcuts" id="sidebar-shortcuts">
                <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
                  

                    <button class="btn btn-warning"  (click)="irMenuProveedores()">
                        <i class="ace-icon fa fa-users"></i>
                    </button>

                    <button class="btn btn-danger" (click)="irMenuConfiguracion()">
                        <i class="ace-icon fa fa-cogs"></i>
                    </button>
                </div>

                <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
                  
                    <span class="btn btn-warning"></span>

                    <span class="btn btn-danger"></span>
                </div>
            </div><!-- /.sidebar-shortcuts -->
            <br>
<!--Menu principal-->
            <ul class="nav nav-list" style="display: block;" [hidden]="!menuProveedores">
                <li class="" ng-show = "mostrar"  >
                    <a class="disply" (click)="irMenuProveedores()">
                        <i class="menu-icon fa fa-users"></i>
                        <span class="menu-text"> Add proveedores </span>
                    </a>
                    <b class="arrow"></b>
                </li>
                
                <li  class="">
                    <a (click)="irMenuAdminProveedores()">
                        <i class="menu-icon fa  fa-book"></i>
                        <span class="menu-text"> Admin proveedores</span>
                    </a>

                    <b class="arrow"></b>
                </li>		
                <li >
                    <a href="" ng-click="logout()">
                        <i class="menu-icon fa fa-power-off"></i>
                        <span class="menu-text"> Salir </span>
                    </a>

                    <b class="arrow"></b>
                </li>		
            </ul><!-- /.nav-list -->

            <!--Configuraciones-->
            <ul class="nav nav-list" style="display: block;" [hidden]="!menuConfiguracion">
                <li class="" ng-show = "mostrar">
                    <a class="disply" (click)="irMenuConfiguracion()">
                        <i class="menu-icon fa fa-users"></i>
                        <span class="menu-text"> Conf. Generales </span>
                    </a>
                    <b class="arrow"></b>
                </li>
                
                <li  class="">
                    <a ng-click="navegacion('/test')">
                        <i class="menu-icon fa  fa-book"></i>
                        <span class="menu-text"> Conf. Comisiones</span>
                    </a>

                    <b class="arrow"></b>
                </li>		
                <li >
                    <a href="" ng-click="logout()">
                        <i class="menu-icon fa fa-power-off"></i>
                        <span class="menu-text"> Salir </span>
                    </a>

                    <b class="arrow"></b>
                </li>		
            </ul><!-- /.nav-list -->

    </div>
   
        <div class="main-content" >
     
            <div class="page-content">
            
                <div class="page-header">
                    <h1>
                        Ingreso de usuarios
                        <small>
                            <i class="ace-icon fa fa-angle-double-right"></i>
                            Permite ingresar usuarios
                        </small>
                    </h1>
                </div><!-- /.page-header -->
            
                <div class="row">
                
                        <!-- PAGE CONTENT BEGINS -->

                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                        <form class="form-horizontal" role="form" >
                            <div class="form-group row">
                              <label for="nombre_apellidos" class="col-md-4 col-form-label control-label no-padding-right">Nombres y Apellidos</label>
                              <div class="col-md-8">
                                <input type="text"  class="form-control-plaintext" id="nombre_apellidos" value="Ingrese un nombre">
                              </div>
                            </div>
                            <div class="form-group row">
                                <label for="ced_pass" class="col-md-4 col-form-label control-label no-padding-right">Cedula o Pasaporte</label>
                                <div class="col-md-8">
                                  <input type="text"  class="form-control-plaintext" id="ced_pass" value="Cedula o Pasaporte">
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="telefono" class="col-md-4 col-form-label control-label no-padding-right">Telefono</label>
                                <div class="col-md-8">
                                  <input type="text"  class="form-control-plaintext" id="telefono" value="Ingrese un telefono">
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="email" class="col-md-4 col-form-label control-label no-padding-right">Correo electronico</label>
                                <div class="col-md-8">
                                  <input type="text"  class="form-control-plaintext" id="email" value="Ingrese un mail">
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="nom_local" class="col-md-4 col-form-label control-label no-padding-right">Nombre del local</label>
                                <div class="col-md-8">
                                  <input type="text"  class="form-control-plaintext" id="nom_local" value="Ingrese un nombre">
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="nom_local" class="col-md-4 col-form-label control-label no-padding-right">Ciudad</label>
                                <div class="col-md-8">
                                  <input type="text"  class="form-control-plaintext" id="nom_local" value="Ingrese una ciudad">
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="nom_local" class="col-md-4 col-form-label control-label no-padding-right">Direccion</label>
                                <div class="col-md-8">
                                  <input type="text"  class="form-control-plaintext" id="nom_local" value="Ingrese una direccion">
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="nom_local" class="col-md-4 col-form-label control-label no-padding-right">Sector</label>
                                <div class="col-md-8">
                                  <input type="text"  class="form-control-plaintext" id="nom_local" value="Ingrese un sector">
                                </div>
                              </div>                                                                            
                          </form>
                          <div class="clearfix form-actions row" style="text-align: center;">
                            <div class="col-md-12">
                                <button class="btn btn-info" type="submit">
                                    <i class="ace-icon fa fa-check bigger-110"></i>
                                    Aceptar
                                </button>
        
                                &nbsp; &nbsp; &nbsp;
                                <button class="btn btn-default" type="button" ng-click="navegacion('/usuarios')"> 
                                    <i class="ace-icon fa fa-undo bigger-110"></i>
                                    Cancelar
                                </button>
                            </div>
                        </div>
                        </div>
                   
                </div>
            
            </div><!-- /.page-content -->
            
            

        </div>      
    </div>
</div>
