<!-- ======= Header ======= -->
<header id="header" class="header fixed-top">
  <div class="container d-flex align-items-center justify-content-between">

    <div class="logo">
      <h1><a href="index.html">Repicar<span>. Administrador</span></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
    </div>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto " href="#hero" routerLinkActive="active">REGRESAR AL INICIO</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

  </div>
</header><!-- End Header -->
<br>
<br>
<br>

<body class="login-layout">
  <div class="main-container">
    <div class="main-content">
      <div class="row">
        <div class="col-sm-12 col-sm-offset-1">
          <div class="login-container">
            <br>
            <br>
            <br>
            <div class="space-6"></div>
            <div class="position-relative">
              <div id="login-box" class="login-box visible widget-box no-border">
                <div class="widget-body">
                  <div class="widget-main">
                    <h4 class="header blue lighter bigger">
                      <i class="ace-icon fa fa-coffee green"></i>
                      Ingrese su información
                    </h4>
                    <div class="space-6"></div>
                    <form autocomplete="off" [formGroup]="forma" (ngSubmit)="Login()">
                      <fieldset>
                        <div class="form-group">
                          <label class="block clearfix" for="usuario">
                            <span class="block input-icon input-icon-right">
                              <input class="form-control" type="text" placeholder="Usuario" formControlName="usuario"
                                [class.is-invalid]="usuarioNoValido" />
                              <i class="ace-icon fa fa-user"></i>
                              <small *ngIf="usuarioNoValido" class="text-danger">
                                Usuario Incorrecto
                              </small>
                            </span>
                          </label>
                        </div>
                        <div class="form-group">
                          <label class="block clearfix" for="contrasenia">
                            <span class="block input-icon input-icon-right">
                              <input class="form-control" type="password" placeholder="Contraseña"
                                formControlName="contrasenia" [class.is-invalid]="contraseniaNoValido" />
                              <i class="ace-icon fa fa-lock"></i>
                              <small *ngIf="contraseniaNoValido" class="text-danger">
                                Ingrese su contraseña
                              </small>
                            </span>
                          </label>
                        </div>
                        <div class="space"></div>

                        <div class="clearfix">
                          <label class="inline">
                            <input type="checkbox" class="ace" />
                            <span class="lbl"> Recuerdame</span>
                          </label>

                          <button type="submit" class="width-35 pull-right btn btn-sm btn-primary">
                            <i class="ace-icon fa fa-key"></i>
                            <span class="bigger-110">Ingresar</span>
                          </button>                   
                        </div>

                        <div class="space-4"></div>
                      </fieldset>
                    </form>
                  </div><!-- /.widget-main -->
                </div><!-- /.widget-body -->
              </div><!-- /.login-box -->
            </div><!-- /.position-relative -->
            <br>
            <br>
            <br>

          </div>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.main-content -->
  </div><!-- /.main-container -->
</body>
